<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0" metadata-complete="true">

	<servlet>
		<servlet-name>Smoke</servlet-name>
		<servlet-class>emodroid.web.SmokeTestServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>SMS</servlet-name>
		<servlet-class>emodroid.web.SMSServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>SMSHessian</servlet-name>
		<servlet-class>emodroid.web.SMSHessianServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SMSHessian</servlet-name>
		<url-pattern>/hessian/sms</url-pattern>
	</servlet-mapping>
</web-app>